---
---

@import "{{ site.theme }}";

/* Only overriding background color */
body {
    background-color: white !important;
}

.avatar, .profile_picture, .logo {
    width: 150px;        /* Adjust the size of the profile picture */
    height: auto;        /* Maintain aspect ratio */
    border-radius: 50%;  /* Make it circular */
    display: block;
    margin: 0 auto;      /* Center the image */
    margin-bottom: 20px; /* Add spacing below the image */
}